.main
    height: 91.589vh
    &-wrap 
        height: 100%
        .navbar-menu
            border-right: 1px solid #6f6f6f
            padding-top: 22px
            padding-left: 4px
            &__element
                a 
                    width: 316.5px
                    padding-top: 10px
                    padding-bottom: 10px
                    padding-left: 4px
                    text-decoration: none
                    color: #6f6f6f
                    font-size: 25px
                    font-weight: 400
                    display: block
                &:hover 
                    background-color: #EFF0F1
                    a
                        color: #000